footer
  section.footer
    a(href="") Copyright © 2018 Toxin отель. Все права зачищены.
    .footer__icons
      img(src="/img/icons/twitter.png", alt="twitter")
      img(src="/img/icons/facebook.png", alt="facebook")
      img(src="/img/icons/instagram.png", alt="instagram")