footer
  section.footer
    a(href="") Copyright © 2018 Toxin отель. Все права зачищены.
    .footer__icons
      img(src=require("../img/icons/twitter.png"), alt="twitter")
      img(src=require("../img/icons/facebook.png"), alt="facebook")
      img(src=require("../img/icons/instagram.png"), alt="instagram")