header
  section.header
    .header__logo
      a(href="#")
        img(src=require("../img/icons/Logo.png"), alt="TOXIN")
    .header__nav
      ul
        li
          a(href="#") О нас
        li
          a(href="#") Услуги
        li
          a(href="#") Вакансии
        li
          a(href="#") Новости
        li
          a(href="#") Соглашения
    .header__buttons
      a(class="header__buttons entry" href="#") Войти
      a(class="header__buttons reg" href="#") Зарегистрироваться