section
  //- img(src="assets/img/Background/image3.png", alt="")
  .img
    img(src="assets/img/Background/image3.png", alt="")
    .main
      .main__reserve
        .main__reserve__text Найдем номера под ваши пожелания
        .main__reserve__date
          .block
            p Прибытие
            input(type="text" size="10")
          .block
            p Выезд
            input(type="text" size="10")
        .main__reserve__guest
          p Гости
          input(type="text" size="35")
        .main__reserve__button
          a(class="main__reserve__button reg" href="#") Подобрать номер