section
  //- img(src="assets/img/Background/image3.png", alt="")
  .img
    img(src="assets/img/Background/image3.png", alt="")
    .main
      .main__reserve
        .main__reserve__text Найдем номера под ваши пожелания
        .main__reserve__date
          .block
            p Прибытие
            input.date(type="text" size="10" placeholder='ДД.ММ.ГГГГ')
          .block
            p Выезд
            input.date(type="text" size="10" placeholder='ДД.ММ.ГГГГ')
        .main__reserve__guest
          p Гости
          input.guest(type="text" size="35" placeholder='Сколько гостей')
        a(href="#").main__reserve__button Подобрать номер