section.info
    div.info__main
      .info__main__logo
        img(src="assets/img/icons/Logo.png", alt="TOXIN")
        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .info__main__nav
        p.names Навигация
        ul
          li
            a О нас
          li
            a Новости
          li
            a Служба поддержки
          li
            a Услуги
      .info__main__about
        p.names О нас
        ul
          li
            a О сервисе
          li
            a Наша команда
          li
            a Вакансии
          li
            a Инвесторы
      .info__main__help
        p.names Служба поддержки
        ul
          li
            a Соглашения
          li
            a Сообщества
          li
            a Связь с нами
      .info__main__descript
        p.names Подписка
        span Получайте специальные предложения и новости сервиса
        input.email(type="text" size="35" placeholder='Email')