extends pug/dev/layout/main

block commercial
  .container
    ul
      li
        a(href="#")
          |Супер скидка
block content
  |Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum nesciunt veniam, ea suscipit molestias necessitatibus cupiditate, cum, minima possimus illum odit nemo velit. Alias animi sed labore quo error officia.